<div class="cards-grid">

  <mat-card class="card">

    <div class="card-content">

      <div>
        <span>Total Produtos</span>
        <h2>{{ totalProdutos() }}</h2>
      </div>

      <mat-icon>
        inventory_2
      </mat-icon>

    </div>

  </mat-card>

  <mat-card class="card">

    <div class="card-content">

      <div>
        <span>Total Estoque</span>
        <h2>{{ totalEstoque() }}</h2>
      </div>

      <mat-icon>
        warehouse
      </mat-icon>

    </div>

  </mat-card>

</div>